{% load static %}
<div id="drawer-cart"
	class="fixed w-full xs:w-96 top-0 right-0 z-50 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white"
	aria-labelledby="drawer-cart-right-label">
	<h5 id="drawer-right-label"
		class="inline-flex items-center mb-4 text-base font-semibold text-gray-500">
		Listado
		carrito</h5>
	<button type="button"
		data-drawer-hide="drawer-cart"
		aria-controls="drawer-cart"
		class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center">
		close
		<span class="sr-only">Close menu</span>
	</button>
	<div
		class="flex flex-col xxs:flex-row justify-evenly items-center gap-2">
		<div
			class="p-3 bg-white border border-gray-200 rounded-lg shadow">
			<p class="font-normal text-gray-700 inline">
				Total: <p id="total-compra" class="inline">$0</p>
			</p>
		</div>
		<a
			href="{% url 'pago' %}"
			class="h-12 px-12 py-2.5 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-center">
			Ir a Pagar
		</a>
	</div>
	<div id="products-list"
		class="w-full flex flex-col gap-4 my-4 items-center">

	</div>
	<form>
		{% csrf_token %}
	</form>
</div>
<script>
	const userEmail = '{{ user_session }}'
</script>
<script src="{% static 'src/js/cart.js' %}"></script>
