{% load compress %}
{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Django + Tailwind CSS + Flowbite{% endblock %}</title>
	{% compress css %}
	<link rel="stylesheet"
		href="{% static 'src/css/output.css' %}">
	{% block css %}{% endblock %}
	{% endcompress %}
</head>
<body>
<div class="h-screen w-full flex flex-col">
	{% include 'nav.html' %}
	{% block content %}
	{% endblock content %}
	{% include 'footer.html' %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
</body>
</html>
