{% extends 'base_admin.html' %}
{% load static %}
{% block title %}Ver Descuentos{% endblock %}
{% block aside-content %}
	<div class="p-4 h-full w-full">
		{% if ofertas %}
			<div class="max-h-96 md:max-h-[32rem] w-full overflow-auto shadow-md sm:rounded-lg">
				<table
					class="w-full text-sm text-left text-gray-500">
					<thead
						class="text-xs text-gray-700 uppercase bg-gray-50">
					<tr>
						<th scope="col"
							class="px-6 py-3">
							ID
						</th>
						<th scope="col"
							class="px-6 py-3">
							NOMBRE
						</th>
						<th scope="col"
							class="px-6 py-3">
							<div class="flex">
							PORCENTAJE
							<a href="{% url 'ver_descuentos' %}?filtro=porcentaje">
								<img class="w-4 h-4 object-contain"
									alt="..."
									src="{% static 'icons/chevron-down.svg' %}"/>
							</a>
							<a href="{% url 'ver_descuentos' %}?filtro=-porcentaje">
								<img class="w-4 h-4 object-contain"
									alt="..."
									src="{% static 'icons/chevron-up.svg' %}"/>
							</a>
							</div>
						</th>
						<th scope="col"
							class="px-6 py-3">
							CAUSA
						</th>
						<th scope="col"
							class="px-6 py-3">
							FECHA INICIO
						</th>
						<th scope="col"
							class="px-6 py-3">
							FECHA FIN
						</th>
						<th scope="col"
							class="px-6 py-3">
							ACCION
						</th>
					</tr>
					</thead>
					<tbody id="descuentos-list">
					{% for oferta in ofertas %}
						<tr class="border-b bg-white">
							<th id="{{ oferta.id }}-id"
								scope="row"
								class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
								{{ oferta.id }}
							</th>
							<td id="{{ oferta.id }}-name"
								class="px-6 py-4">{{ oferta.name }}
							</td>
							<td id="{{ oferta.id }}-porc"
								class="px-6 py-4">{{ oferta.porcentaje }}
							</td>
							<td id="{{ oferta.id }}-causa"
								class="px-6 py-4">{{ oferta.causa }}
							</td>
							<td id="{{ oferta.id }}-fi"
								class="px-6 py-4">{{ oferta.fecha_inicio }}
							</td>
							<td id="{{ oferta.id }}-fe"
								class="px-6 py-4">{{ oferta.fecha_fin }}
							</td>
							<td class="px-3 py-4">
								<button
									type="button"
									class="text-white bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center"
								>
									<a href="{% url 'editar_descuento' oferta.id %}">
										Editar
									</a>
								</button>
								<form
									id="form-{{ oferta.id }}"
								>
									{% csrf_token %}
									<button
										type="button"
										name="delete-button"
										onclick="tt(this, '{{ oferta.id }}')"
										class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center"
									>
										Eliminar
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div id="descuentos-warning">No hay descuentos disponibles
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block js %}
	<script src="{% static 'src/js/getDescuentos.js' %}"></script>
{% endblock %}
