{% extends 'base_usuario.html' %}
{% load static %}
{% block title %}Mi Cuenta{% endblock %}
{% block aside-content %}
	<div
		class="w-full h-full xs:p-4 flex justify-center items-center place-items-center">
		<div class="w-full lg:w-3/4 bg-white rounded-lg shadow">
			<div
				class="p-4 border-b rounded-t">
				<h3
					class="text-xl font-semibold text-gray-900">
					Informacion de la cuenta
				</h3>
			</div>
			<div class="relative p-4 space-y-6">
				<div class="max-w-md">
					<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
					<input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				</div>
				<div class="max-w-md mb-6">
					<label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
					<input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				</div>
				<div class="max-w-md mb-6">
					<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Celular</label>
					<input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				</div>
				<div class="max-w-md mb-6">
					<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Direccion</label>
					<input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				</div>
			</div>
			<div
				class="flex flex-col xs:flex-row items-center gap-4 xs:gap-0 p-4 xs:space-x-2 border-t border-gray-200 rounded-b">
				<button type="button"
					id="edit-info"
					class="w-48 xxs:w-52 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">
					Editar
				</button>
				<button type="button"
					id="change"
					class="w-48 xxs:w-52 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">
					<a href="{% url 'cambiar_contrasena' %}"
						class="text-white"
					>
						Cambiar Contraseña
					</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{% static 'src/js/user_detail.js' %}"></script>
{% endblock %}
