{% extends 'base_usuario.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet"
		href="{% static 'src/css/register.css' %}">
{% endblock %}
{% block title %}Editar Cuenta{% endblock %}
{% block aside-content %}
	<div aria-hidden="true"
		id="edit-modal"
		class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
		<div class="relative w-full h-full max-w-md md:h-auto">
			<div class="relative bg-white rounded-lg shadow">
				<div class="px-6 py-6 lg:px-8">
					<h3
						class="mb-4 text-xl font-medium text-gray-900">Cuenta editada
						correctamente</h3>
					<button type="button"
						class="w-full text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
						<a href="{% url 'detalle_cuenta' %}">Ir a mi Cuenta</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div
		class="w-full h-full xs:p-4 flex justify-center items-center place-items-center">
		<div class="w-full lg:w-3/4 bg-white rounded-lg shadow">
			<div
				class="p-4 border-b rounded-t">
				<h3
					class="text-xl font-semibold text-gray-900">
					Editar informacion de la cuenta
				</h3>
			</div>
			<div class="flex">

				<form id="formulario5"
					method="post"
					class="w-full relative px-4 pt-4">
					{% csrf_token %}
					<div class="max-w-md mb-6">
						<label for="name"
							class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
						<input
							value="{{ nombre }}"
							type="text"
							name="name"
							id="name"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					</div>
					<div class="max-w-md mb-6">
						<label for="email"
							class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
						<input
							value="{{ email }}"
							name="email"
							type="email"
							id="email"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					</div>
					<div class="max-w-md mb-6">
						<label for="telefono"
							class="block mb-2 text-sm font-medium text-gray-900">Celular</label>
						<input
							value="{{ telefono }}"
							type="text"
							id="telefono"
							name="telefono"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					</div>
					<div class="max-w-md mb-6">
						<label for="direccion"
							class="block mb-2 text-sm font-medium text-gray-900">Direccion</label>
						<input
							value="{{ direccion }}"
							type="text"
							id="direccion"
							name="direccion"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					</div>
					<div
						class="flex flex-col xs:flex-row items-center gap-4 xs:gap-0 pt-4 xs:space-x-2 border-t border-gray-200 rounded-b">
						<button type="submit"
							id="edit-submit"
							class="w-48 xxs:w-52 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">
							Enviar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{% static 'src/js/user_detail_edit.js' %}"></script>
{% endblock %}
