{% extends 'base_usuario.html' %}
{% load static %}
{% block title %}Ingreso Tarjeta{% endblock %}
{% block css %}
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
		crossOrigin="anonymous">
	<link rel="stylesheet"
		href="{% static 'src/css/register.css' %}">

{% endblock %}

{% block aside-content %}
	<div
		class="w-full h-full xs:p-4 flex flex-col justify-center items-center place-items-center">
		<div class="w-full lg:w-3/4 bg-white rounded-lg shadow">
			<div
				class="p-4 border-b rounded-t">
				<h3
					class="text-xl text-gray-900">
					Ingreso de nueva tarjeta
				</h3>
			</div>
			<div class="flex justify-center">
			<form
				class="h-full w-full max-w-xl p-4"
				id="formulario1"
				action="{% url 'crear_tarjeta' %}"
				method="post">
				{% csrf_token %}
				<div class="space-y-4 overflow-y-scroll max-h-96">
					{{ form.non_field_errors }}
					<div class="fieldWrapper">
						{{ form.nombre_cliente.errors }}
						<label for="{{ form.nombre_cliente.id_for_label }}">Nombre</label>
						{{ form.nombre_cliente }}
					</div>
					<div class="fieldWrapper">
						{{ form.nombre_banco.errors }}
						<label for="{{ form.nombre_banco.id_for_label }}">Banco</label>
						{{ form.nombre_banco }}
					</div>
					<div class="fieldWrapper">
						{{ form.numero_tarjeta.errors }}
						<label for="{{ form.numero_tarjeta.id_for_label }}">Numero
							Tarjeta</label>
						{{ form.numero_tarjeta }}
					</div>
					<div class="fieldWrapper">
						{{ form.mes_vencimiento.errors }}
						<label for="{{ form.mes_vencimiento.id_for_label }}">Mes</label>
						{{ form.mes_vencimiento }}
					</div>
					<div class="fieldWrapper">
						{{ form.anno_vencimiento.errors }}
						<label for="{{ form.anno_vencimiento.id_for_label }}">Año</label>
						{{ form.anno_vencimiento }}
					</div>
					<div class="fieldWrapper">
						{{ form.codigo.errors }}
						<label for="{{ form.codigo.id_for_label }}">Clave</label>
						{{ form.codigo }}
					</div>
					<div
						class="flex justify-center items-center border-gray-200 rounded-b ">
						<button
							id="guardar1"
							type="submit"
							class=" ml-6 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
							Enviar
						</button>
					</div>
				</div>
			</form>
		</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossOrigin="anonymous"></script>
	<script src="{% static 'src/js/FormTj.js' %}"></script>
{% endblock %}
