{% extends 'base.html' %}
{% load static %}
{% block title %}
	Registro
{% endblock title %}



{% block css %}
	<link rel="stylesheet"
		href="{% static '/src/css/subtarjeta.css' %}">
{% endblock %}

{% block content %}

	<div class="flex justify-center items-center min-h-screen relative">
		<div class="w-full sm:w-3/4 lg:max-w-3xl border border-gray-200 shadow p-8 mx-auto Caja-register bg-white rounded-lg z-10">
			<div class="space-y-6 flex flex-col">
				<h5
					class="text-xl font-medium text-gray-900">Registra tu cuenta</h5>
				<!-- Formulario registro -->
				<div class="overflow-y-scroll h-96 space-y-6">
				<form
					action="{% url 'registro' %}"
					method="post"
					id="formulario5"
					class="space-y-6"
					name="formulario5">
					{% csrf_token %}
					<div>
						<label for="username"
							class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
						<input type="email"
							name="username"
							id="username"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							placeholder="name@company.com"
							required/>
					</div>
					<div>
						<label for="password1"
							class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
						<input type="password"
							name="password1"
							id="password1"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							required/>
					</div>
					<div>
						<label for="password2"
							class="block mb-2 text-sm font-medium text-gray-900">Confirmacion
							Contraseña</label>
						<input type="password"
							name="password2"
							id="password2"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							/>
						<p id="pass-equals"
							class="error hidden">Las contraseñas no coinciden</p>
					</div>
					<div>
						<label for="nombre"
							class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
						<input type="text"
							name="nombre"
							id="nombre"
							placeholder=""
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							required/>
					</div>
					<div>
						<label for="telefono"
							class="block mb-2 text-sm font-medium text-gray-900">Numero
							Celular</label>
						<input type="text"
							name="telefono"
							id="telefono"
							placeholder="+56912345678"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							required/>
					</div>
					<div>
						<label for="direccion"
							class="block mb-2 text-sm font-medium text-gray-900">Direccion</label>
						<input type="text"
							name="direccion"
							id="direccion"
							placeholder="Av. Siempre Viva 123"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
							required/>
					</div>
					<div>
						<label class="ml-2 text-sm font-medium text-gray-900"
							for="Acepto">Acepto <a href="{% url '404' %}"
							class="text-blue-600 hover:underline">condiciones </a></label><input name="Acepto"
						id="Acepto"
						type="checkbox"
						value=""
						class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
						required>
					</div>
					<button id="guardar1"
						name="guardar1"
						class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
						Registrarse
					</button>
					<div class="text-sm font-medium text-gray-500">
						Ya estas registrado? <a href="{% url 'login' %}"
						class="text-blue-700 hover:underline">Ingresa
						aqui</a>
					</div>
				</form>
				</div>
			</div>
		</div>

		<div class="h-full w-full absolute z-0">
			<img class="h-full w-full object-cover "
				src="{% static '/imagens/fondo.png' %}"/>
		</div>
	</div>
{% endblock content %}

{% block js %}
	<script src="{% static '/src/js/FormRegistrarse.js' %}"></script>
{% endblock %}
