{% extends 'base_usuario.html' %}
{% load static %}
{% block title %}Suscripcion{% endblock %}

{% block aside-content %}
	<div
		class="w-full h-full xs:p-4 flex justify-center items-center place-items-center">
		{% if suscripcion %}
			<div
				class="w-full p-4 flex justify-center items-center place-items-center">
				<div
					class="xl:w-2/3 sm:w-2/3 md:w-full w-full h-full bg-white rounded-lg shadow xs:w-5/5">
					<div
						class="p-4 space-y-2 border-b rounded-t">
						<h3
							class="text-xl font-semibold text-gray-900">
							Detalle de suscripción
						</h3>
						<p class="text-gray-500">
							Tu proximo pago sera de {{ suscripcion.monto }}
							el {{ suscripcion.fecha_expiracion }}
						</p>
					</div>
					<div class="relative flex p-6 gap-6 lg:gap-0 flex-col lg:flex-row">
						<ul role="list"
							class="w-full lg:w-1/2 space-y-5">
							<li class="flex space-x-3">
                <span
	                class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">
                  Tu suscripcion incluye:
                </span>
							</li>
							<li class="flex space-x-3">
								<svg aria-hidden="true"
									class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<title>Check icon</title>
									<path fill-rule="evenodd"
										d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
										clip-rule="evenodd">
									</path>
								</svg>
								<span
									class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">2 team members</span>
							</li>
							<li class="flex space-x-3">
								<svg aria-hidden="true"
									class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<title>Check icon</title>
									<path fill-rule="evenodd"
										d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
										clip-rule="evenodd">
									</path>
								</svg>
								<span
									class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">20GB Cloud storage</span>
							</li>
							<li class="flex space-x-3">
								<svg aria-hidden="true"
									class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<title>Check icon</title>
									<path fill-rule="evenodd"
										d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
										clip-rule="evenodd">

									</path>
								</svg>
								<span
									class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">Integration help</span>
							</li>
						</ul>
						<div
							class="w-full lg:w-1/2 flex flex-row justify-start items-center">
							<div
								class="py-3 lg:mx-auto flex lg:w-full xl:w-3/4 justify-evenly items-center rounded-lg border-gray-200 border-2">
								<svg class="fill-current w-8 h-8 text-gray-300"
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true">
									<path stroke-linecap="round"
										stroke-linejoin="round"
										d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"></path>
								</svg>
								<p>{{ numeros }}</p>
								<svg class="fill-current w-6 h-6 text-gray-300"
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true">
									<path stroke-linecap="round"
										stroke-linejoin="round"
										d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div
						class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
						<form action="{% url 'suscripcion_cancelar' %}"
							method="POST">
							{% csrf_token %}
							<input type="hidden"
								name="suscripcion_id"
								value="{{ suscripcion.id }}"
							>
							<button type="submit"
								id="desuscribir"
								class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
								Desactivar suscripcion
							</button>
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div
				class="xl:w-2/3 sm:w-2/3 md:w-full w-full max-h-96 bg-white rounded-lg shadow xs:w-5/5">
				<div
					class="p-4 space-y-2 border-b rounded-t">
					<h3
						class="text-xl font-semibold text-gray-900">
						Detalle de suscripción
					</h3>
					<p class="text-gray-500">
						No tienes suscripcion activa
					</p>
				</div>
				<div class="p-4 h-full flex flex-col items-center justify-center gap-4">
					<button id="dropdownUsersButton"
						data-dropdown-toggle="dropdownUsers"
						data-dropdown-placement="right"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						type="button">
						Selecciona una tarjeta
						<svg class="w-4 h-4 ml-2"
							aria-hidden="true"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
								clip-rule="evenodd"></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div id="dropdownUsers"
						class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
						<ul class="max-h-32 py-2 overflow-y-auto text-gray-700 dark:text-gray-200"
							aria-labelledby="dropdownUsersButton">
							{% if tarjetas %}
								{% for tarjeta in tarjetas %}
									<li class="flex justify-center">
										<button onclick="tt(this, {{ tarjeta.id }})"
											id="{{ tarjeta.id }}-button"
											type="button"
											name="tarjeta-button">
											{{ tarjeta.numero_tarjeta }}
										</button>
									</li>
								{% endfor %}
							{% else %}
								<li class="flex justify-center">
									No hay tarjetas registradas
								</li>
							{% endif %}
						</ul>
					</div>
					<p id="selected-tarjeta">No tienes una tarjeta seleccionada</p>
				<form action="{% url 'suscripcion_crear' %}"
				method="post">
					{% csrf_token %}
					<input type="hidden"
						id="num-input"
						name="num-val"/>
					<button type="submit" id="pay-button"
						class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center">
						Realizar Pago
					</button>
				</form>
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}

{% block js %}
	<script src="{% static 'src/js/sub.js' %}"></script>
{% endblock %}
