.cuadro {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.caja {
    flex-basis: 100%;
}

.caja_p {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@media (min-width: 1024px) {
    .caja_p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .cuadro {
        flex-direction: row;
        background-color: blue;
    }

    .caja {
        flex-basis: 50%;
    }
}
