{% extends 'base.html' %}
{% load static %}

{% block title %}Título personalizado{% endblock %}

{% block css %}
<link href="{% static 'src/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
<div>soy un nav de la tienda</div>
{% endblock %}

{% block content %}
<h1 class="text-3xl text-green-800">Django + Tailwind CSS + Flowbite</h1>
<h2 class="Titulo-1">hola</h2>

{% include 'boton.html' with param='1' %}
{% include 'boton.html' with param='1' %}
{% include 'boton.html' with param='1' %}
{% endblock content %}
